<h2> <%= current_user.email %>'s user profile </h2>

<h4>Items sold</h4>
<ul class="bought-and-sold">
  <% @items.each do |item| %>
    <li><%= link_to item.name, item_path(item) %></li>
  <% end %>
</ul>


<h4>Items bought</h4>
<ul class="bought-and-sold">
  <% @user.items.each do |item| %>
    <li><%= link_to item.name, item_path(item) %></li>
  <% end %>
</ul>

<div class="checkout">
  <%= link_to "<button>CHECKOUT</button>".html_safe, new_charge_path(current_user), :id => "button_id", :class => "button_class" %>
</div>
