<h1> About Catsy </h1>
<p> Thank you for visiting Catsy. </p>
<p>Catsy is an app where users can both buy and sell homemade items</p>

<div class="img_flat">
  <%= image_tag("0414142353a.jpg", :id => "img", width:'300', height: '300') %>
  <%= image_tag("1028151839c.jpg", :id => "img", width:'300', height: '300') %>
</div>
