<h1> About Catsy </h1>
<div class="catsy_welcome">
  <p> Thank you for visiting Catsy. </p>
  <p>Catsy is a marketplace where users can both buy and sell homemade items.</p>
  <p>Please contact patriciahchun@gmail.com for any questions or concerns. Thank you :) </p>
  <p> Click image for rotation -> </p>
</div>

<div class="img_flat">
  <%= image_tag("0414142353a.jpg", :id => "img", width:'300', height: '300') %>
  <%= image_tag("1028151839c.jpg", :id => "img", width:'300', height: '300') %>
</div>
