<!DOCTYPE html>
<html>
<head>
<title>TITLE</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <br>
<h1><%= link_to 'TITLE', root_path, :class => 'brand' %></h1></br>


<h5> WELCOME TO TITLE </h5>
</body>
