<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Total Amount: $<%=@total.to_f%> </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Total Amount"
            data-amount=@total.to_f
            data-locale="auto"></script>
<% end %>
